@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-4 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h3>
                </div>
                <div class="card-body p-4">
                    <!-- Nested Row within Card Body -->
                    <address>
                        <h5>
                            Fuyu Precision Technology
                            Quang Chau, Bac Giang.
                        </h5>
                        <strong>Bu:</strong>  JBD<br />
                        <strong>Dept:</strong>  UBEE - F13 - 2F<br />
                        <strong>Pos:</strong> TE<br />
                        <strong>Extension: </strong>535 - 31241 <br />
                        <strong>Email: </strong><a href="#">abel.gx.huang@mail.foxconn.com</a><br />
                    </address>
                </div>
            </div>

        </div>
    </div>
</div>
