
@{
    ViewBag.Title = "TestLayout";
    Layout = "~/Views/Shared/_LayoutFiiTheme.cshtml";
}

<div class="fii-container-bg h-100 w-100 mt-1">

    <div class="fii-frame-subcontent h-100">
        <div class=" d-flex flex-wrap p-3">
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE Program Versions Management</div>
                    </div>
                </div>
            </div>
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="~/Assets/Vendor/fii-template/fii-theme/fii-icon-automation.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE MFG Test Plans Doc Management</div>
                    </div>
                </div>
            </div>
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="~/Assets/Vendor/fii-template/fii-theme/fii-icon-ehs.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE Program Versions Management</div>
                    </div>
                </div>
            </div>
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="~/Assets/Vendor/fii-template/fii-theme/fii-icon-esop.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE Program Versions Management</div>
                    </div>
                </div>
            </div>
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="~/Assets/Vendor/fii-template/fii-theme/fii-icon-hr.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE Program Versions Management</div>
                    </div>
                </div>
            </div>
            <div class="fii-frame-index mr-auto mb-3">
                <div class="fii-frame-index-inneritem">
                    <div class="" align="center">
                        <img class="fii-icon" src="~/Assets/Vendor/fii-template/fii-theme/fii-icon-paperless.png" />
                        <div class="fii-frame-index-innertitle fw-bold">ATE Program Versions Management</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@*<script src="~/Assets/Vendor/gsap/gsap.min.js"></script>
<script src="~/Assets/JS/MyJS/AllEffectFuncs/gsap-ringscroll-parallax.js"></script>*@

@*<div class="ring-container ">
        <div class="ring-content">
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
            <div class="ring-content-item">
                <div class="fii-frame-flag">
                    <div class="fii-title-flag">ATE Versions</div>
                    <img class="fii-icon" src="/Assets/Vendor/fii-template/fii-theme/fii-icon-product.png" />
                </div>
            </div>
        </div>
    </div>*@