@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/LayoutClient.cshtml";
}

<div class="form-horizontal row justify-content-center">
    <!--begin::Content -->
    <div class="content d-flex flex-column flex-column-fluid col-xl-9">
        <!--begin::Post-->
        <div class="card shadow d-flex flex-column-fluid ">           
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
                <div class="row center margin_bottom_30_all">
                    <img class="margin_bottom_30_all" src="~/Images/Samples/404_error_img.png" alt="#">
                </div>
                <div class="text-center">
                    <h2 class="h2">Seem like something gone wrong!</h2>
                </div>

            </div>
            <!--end::Card body-->
        </div>
        <!--end::Post-->

    </div>
    <!--end::Content-->
</div>